.badgeInfo {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  margin: .5em;
  width: 48%;
}
.badgeDataContainer {
  display:flex;
  flex-wrap: wrap;
}
span.badge {
  font-size: 12px;
  display: flex;
  flex: 1 auto;
  justify-content: center;
  margin-left: 1em;
}
.caraousel {
  display: flex;
}
.page {
  border-radius: 50%;
  background-color: gray;
  width: .5em;
  height: .5em;
  margin: .3em;
}
.selected {
  background-color: orange;
}
