<app-main-header></app-main-header>
<div class="bodyContainer">
  <div class="leftContainer">
    <div class="container">
      <div class="divHead">Choose from our smart filters</div>
      <div class="subHead">Lorem ipsum dolor sit amet, consecutor</div>
      <app-container-tabs></app-container-tabs>
      <app-company-details [badgeMaster]="badgeMasterData" [badgeData]="badgeData"></app-company-details>
    </div>
    <div class="container section">
      <div class="subContainer">
        <app-use-cases></app-use-cases>
      </div>
      <div class="subContainer">
        <app-top-charts></app-top-charts>
      </div>
    </div>
    <div class="container">
      <div class="divHead">Discover the popular sectors we track</div>
      <div class="subHead">Lorem ipsum dolor sit amet, consecutor</div>
      <app-sector-details [sectorMaster]="sectorsMasterData" [sectorData]="sectorsData"></app-sector-details>
    </div>
  </div>
  <div class="rightContainer">
    <app-right-category *ngFor = "let category of categoriesData" [category]="category"></app-right-category>
  </div>
</div>
